#################
## Joomla
#################
.htaccess
administrator/backups/*
administrator/cache/*
administrator/components/com_admin/*
administrator/components/com_banners/*
administrator/components/com_cache/*
administrator/components/com_categories/*
administrator/components/com_checkin/*
administrator/components/com_config/*
administrator/components/com_contact/*
administrator/components/com_content/*
administrator/components/com_cpanel/*
administrator/components/com_dump/*
administrator/components/com_frontpage/*
administrator/components/com_massmail/*
administrator/components/com_installer/*
administrator/components/com_languages/*
administrator/components/com_login/*
administrator/components/com_media/*
administrator/components/com_menus/*
administrator/components/com_messages/*
administrator/components/com_modules/*
administrator/components/com_newsfeeds/*
administrator/components/com_poll/*
administrator/components/com_plugins/*
administrator/components/com_redirect/*
administrator/components/com_search/*
administrator/components/com_sections/*
administrator/components/com_templates/*
administrator/components/com_trash/*
administrator/components/com_users/*
administrator/components/com_weblinks/*
administrator/components/index.html
administrator/help/*
administrator/includes/*
administrator/images/*
administrator/language/en-GB/
administrator/language/en-GB/en-GB.com_admin.ini
administrator/language/en-GB/en-GB.com_admin.sys.ini
administrator/language/en-GB/en-GB.com_banners.ini
administrator/language/en-GB/en-GB.com_banners.sys.ini
administrator/language/en-GB/en-GB.com_cache.ini
administrator/language/en-GB/en-GB.com_cache.sys.ini
administrator/language/en-GB/en-GB.com_categories.ini
administrator/language/en-GB/en-GB.com_categories.sys.ini
administrator/language/en-GB/en-GB.com_checkin.ini
administrator/language/en-GB/en-GB.com_checkin.sys.ini
administrator/language/en-GB/en-GB.com_config.ini
administrator/language/en-GB/en-GB.com_config.sys.ini
administrator/language/en-GB/en-GB.com_contact.ini
administrator/language/en-GB/en-GB.com_contact.sys.ini
administrator/language/en-GB/en-GB.com_content.ini
administrator/language/en-GB/en-GB.com_content.sys.ini
administrator/language/en-GB/en-GB.com_cpanel.ini
administrator/language/en-GB/en-GB.com_cpanel.sys.ini
administrator/language/en-GB/en-GB.com_installer.ini
administrator/language/en-GB/en-GB.com_installer.sys.ini
administrator/language/en-GB/en-GB.com_languages.ini
administrator/language/en-GB/en-GB.com_languages.sys.ini
administrator/language/en-GB/en-GB.com_login.ini
administrator/language/en-GB/en-GB.com_login.sys.ini
administrator/language/en-GB/en-GB.com_mailto.sys.ini
administrator/language/en-GB/en-GB.com_media.ini
administrator/language/en-GB/en-GB.com_media.sys.ini
administrator/language/en-GB/en-GB.com_menus.ini
administrator/language/en-GB/en-GB.com_menus.sys.ini
administrator/language/en-GB/en-GB.com_messages.ini
administrator/language/en-GB/en-GB.com_messages.sys.ini
administrator/language/en-GB/en-GB.com_modules.ini
administrator/language/en-GB/en-GB.com_modules.sys.ini
administrator/language/en-GB/en-GB.com_newsfeeds.ini
administrator/language/en-GB/en-GB.com_newsfeeds.sys.ini
administrator/language/en-GB/en-GB.com_plugins.ini
administrator/language/en-GB/en-GB.com_plugins.sys.ini
administrator/language/en-GB/en-GB.com_redirect.ini
administrator/language/en-GB/en-GB.com_redirect.sys.ini
administrator/language/en-GB/en-GB.com_search.ini
administrator/language/en-GB/en-GB.com_search.sys.ini
administrator/language/en-GB/en-GB.com_templates.ini
administrator/language/en-GB/en-GB.com_templates.sys.ini
administrator/language/en-GB/en-GB.com_users.ini
administrator/language/en-GB/en-GB.com_users.sys.ini
administrator/language/en-GB/en-GB.com_weblinks.ini
administrator/language/en-GB/en-GB.com_weblinks.sys.ini
administrator/language/en-GB/en-GB.com_wrapper.ini
administrator/language/en-GB/en-GB.com_wrapper.sys.ini
administrator/language/en-GB/en-GB.ini
administrator/language/en-GB/en-GB.lib_joomla.ini
administrator/language/en-GB/en-GB.localise.php
administrator/language/en-GB/en-GB.mod_custom.ini
administrator/language/en-GB/en-GB.mod_custom.sys.ini
administrator/language/en-GB/en-GB.mod_feed.ini
administrator/language/en-GB/en-GB.mod_feed.sys.ini
administrator/language/en-GB/en-GB.mod_latest.ini
administrator/language/en-GB/en-GB.mod_latest.sys.ini
administrator/language/en-GB/en-GB.mod_logged.ini
administrator/language/en-GB/en-GB.mod_logged.sys.ini
administrator/language/en-GB/en-GB.mod_login.ini
administrator/language/en-GB/en-GB.mod_login.sys.ini
administrator/language/en-GB/en-GB.mod_menu.ini
administrator/language/en-GB/en-GB.mod_menu.sys.ini
administrator/language/en-GB/en-GB.mod_online.ini
administrator/language/en-GB/en-GB.mod_online.sys.ini
administrator/language/en-GB/en-GB.mod_popular.ini
administrator/language/en-GB/en-GB.mod_popular.sys.ini
administrator/language/en-GB/en-GB.mod_quickicon.ini
administrator/language/en-GB/en-GB.mod_quickicon.sys.ini
administrator/language/en-GB/en-GB.mod_status.ini
administrator/language/en-GB/en-GB.mod_status.sys.ini
administrator/language/en-GB/en-GB.mod_submenu.ini
administrator/language/en-GB/en-GB.mod_submenu.sys.ini
administrator/language/en-GB/en-GB.mod_title.ini
administrator/language/en-GB/en-GB.mod_title.sys.ini
administrator/language/en-GB/en-GB.mod_toolbar.ini
administrator/language/en-GB/en-GB.mod_toolbar.sys.ini
administrator/language/en-GB/en-GB.mod_unread.ini
administrator/language/en-GB/en-GB.mod_unread.sys.ini
administrator/language/en-GB/en-GB.plg_authentication_example.ini
administrator/language/en-GB/en-GB.plg_authentication_example.sys.ini
administrator/language/en-GB/en-GB.plg_authentication_gmail.ini
administrator/language/en-GB/en-GB.plg_authentication_gmail.sys.ini
administrator/language/en-GB/en-GB.plg_authentication_joomla.ini
administrator/language/en-GB/en-GB.plg_authentication_joomla.sys.ini
administrator/language/en-GB/en-GB.plg_authentication_ldap.ini
administrator/language/en-GB/en-GB.plg_authentication_ldap.sys.ini
administrator/language/en-GB/en-GB.plg_content_emailcloak.ini
administrator/language/en-GB/en-GB.plg_content_emailcloak.sys.ini
administrator/language/en-GB/en-GB.plg_content_geshi.ini
administrator/language/en-GB/en-GB.plg_content_geshi.sys.ini
administrator/language/en-GB/en-GB.plg_content_joomla.ini
administrator/language/en-GB/en-GB.plg_content_joomla.sys.ini
administrator/language/en-GB/en-GB.plg_content_loadmodule.ini
administrator/language/en-GB/en-GB.plg_content_loadmodule.sys.ini
administrator/language/en-GB/en-GB.plg_content_pagebreak.ini
administrator/language/en-GB/en-GB.plg_content_pagebreak.sys.ini
administrator/language/en-GB/en-GB.plg_content_pagenavigation.ini
administrator/language/en-GB/en-GB.plg_content_pagenavigation.sys.ini
administrator/language/en-GB/en-GB.plg_content_vote.ini
administrator/language/en-GB/en-GB.plg_content_vote.sys.ini
administrator/language/en-GB/en-GB.plg_editors_codemirror.ini
administrator/language/en-GB/en-GB.plg_editors_codemirror.sys.ini
administrator/language/en-GB/en-GB.plg_editors_none.ini
administrator/language/en-GB/en-GB.plg_editors_none.sys.ini
administrator/language/en-GB/en-GB.plg_editors_tinymce.ini
administrator/language/en-GB/en-GB.plg_editors_tinymce.sys.ini
administrator/language/en-GB/en-GB.plg_editors-xtd_article.ini
administrator/language/en-GB/en-GB.plg_editors-xtd_article.sys.ini
administrator/language/en-GB/en-GB.plg_editors-xtd_image.ini
administrator/language/en-GB/en-GB.plg_editors-xtd_image.sys.ini
administrator/language/en-GB/en-GB.plg_editors-xtd_pagebreak.ini
administrator/language/en-GB/en-GB.plg_editors-xtd_pagebreak.sys.ini
administrator/language/en-GB/en-GB.plg_editors-xtd_readmore.ini
administrator/language/en-GB/en-GB.plg_editors-xtd_readmore.sys.ini
administrator/language/en-GB/en-GB.plg_extension_joomla.ini
administrator/language/en-GB/en-GB.plg_extension_joomla.sys.ini
administrator/language/en-GB/en-GB.plg_search_categories.ini
administrator/language/en-GB/en-GB.plg_search_categories.sys.ini
administrator/language/en-GB/en-GB.plg_search_contacts.ini
administrator/language/en-GB/en-GB.plg_search_contacts.sys.ini
administrator/language/en-GB/en-GB.plg_search_content.ini
administrator/language/en-GB/en-GB.plg_search_content.sys.ini
administrator/language/en-GB/en-GB.plg_search_newsfeeds.ini
administrator/language/en-GB/en-GB.plg_search_newsfeeds.sys.ini
administrator/language/en-GB/en-GB.plg_search_weblinks.ini
administrator/language/en-GB/en-GB.plg_search_weblinks.sys.ini
administrator/language/en-GB/en-GB.plg_system_cache.ini
administrator/language/en-GB/en-GB.plg_system_cache.sys.ini
administrator/language/en-GB/en-GB.plg_system_debug.ini
administrator/language/en-GB/en-GB.plg_system_debug.sys.ini
administrator/language/en-GB/en-GB.plg_system_languagefilter.ini
administrator/language/en-GB/en-GB.plg_system_languagefilter.sys.ini
administrator/language/en-GB/en-GB.plg_system_log.ini
administrator/language/en-GB/en-GB.plg_system_logout.ini
administrator/language/en-GB/en-GB.plg_system_logout.sys.ini
administrator/language/en-GB/en-GB.plg_system_log.sys.ini
administrator/language/en-GB/en-GB.plg_system_p3p.ini
administrator/language/en-GB/en-GB.plg_system_p3p.sys.ini
administrator/language/en-GB/en-GB.plg_system_redirect.ini
administrator/language/en-GB/en-GB.plg_system_redirect.sys.ini
administrator/language/en-GB/en-GB.plg_system_remember.ini
administrator/language/en-GB/en-GB.plg_system_remember.sys.ini
administrator/language/en-GB/en-GB.plg_system_sef.ini
administrator/language/en-GB/en-GB.plg_system_sef.sys.ini
administrator/language/en-GB/en-GB.plg_user_contactcreator.ini
administrator/language/en-GB/en-GB.plg_user_contactcreator.sys.ini
administrator/language/en-GB/en-GB.plg_user_joomla.ini
administrator/language/en-GB/en-GB.plg_user_joomla.sys.ini
administrator/language/en-GB/en-GB.plg_user_profile.ini
administrator/language/en-GB/en-GB.plg_user_profile.sys.ini
administrator/language/en-GB/en-GB.tpl_bluestork.ini
administrator/language/en-GB/en-GB.tpl_bluestork.sys.ini
administrator/language/en-GB/en-GB.tpl_hathor.ini
administrator/language/en-GB/en-GB.tpl_hathor.sys.ini
administrator/language/en-GB/en-GB.xml
administrator/language/en-GB/index.html
administrator/language/overrides/*
administrator/language/index.html
administrator/manifests/*
administrator/modules/mod_custom/*
administrator/modules/mod_feed/*
administrator/modules/mod_latest/*
administrator/modules/mod_logged/*
administrator/modules/mod_login/*
administrator/modules/mod_menu/*
administrator/modules/mod_online/*
administrator/modules/mod_popular/*
administrator/modules/mod_quickicon/*
administrator/modules/mod_status/*
administrator/modules/mod_submenu/*
administrator/modules/mod_title/*
administrator/modules/mod_toolbar/*
administrator/modules/mod_unread/*
administrator/modules/mod_footer/*
administrator/modules/mod_stats/*
administrator/modules/index.html
administrator/templates/bluestork/*
administrator/templates/hathor/*
administrator/templates/system/*
administrator/templates/khepri/*
administrator/templates/index.html
administrator/index.php
administrator/index2.php
administrator/index3.php
cache/*
components/com_banners/*
components/com_contact/*
components/com_content/*
components/com_mailto/*
components/com_media/*
components/com_newsfeeds/*
components/com_search/*
components/com_users/*
components/com_weblinks/*
components/com_wrapper/*
components/com_dump/*
components/com_poll/*
components/com_user/*
components/com_wiki/*
components/index.html
images/banners/*
images/sampledata/*
images/joomla*
images/M_images/*
images/stories/*
images/index.html
images/powered_by.png
images/apply_f2.png
images/archive_f2.png
images/back_f2.png
images/blank.png
images/cancel.png
images/cancel_f2.png
images/css_f2.png
images/edit_f2.png
images/sort_asc.png
images/sort_desc.png
images/unarchive.png
images/unpublished.png
images/unarchive_f2.png
images/unpublish_f2.png
images/upload_f2.png
images/html_f2.png
images/menu_divider.png
images/new_f2.png
images/preview_f2.png
images/publish_f2.png
images/save.png
images/save_f2.png
images/smilies/*
includes/*
installation/*
language/en-GB/en-GB.com_banners.ini
language/en-GB/en-GB.com_contact.ini
language/en-GB/en-GB.com_content.ini
language/en-GB/en-GB.com_frontpage.ini
language/en-GB/en-GB.com_poll.ini
language/en-GB/en-GB.com_mailto.ini
language/en-GB/en-GB.com_media.ini
language/en-GB/en-GB.com_messages.ini
language/en-GB/en-GB.com_newsfeeds.ini
language/en-GB/en-GB.com_search.ini
language/en-GB/en-GB.com_users.ini
language/en-GB/en-GB.com_user.ini
language/en-GB/en-GB.com_weblinks.ini
language/en-GB/en-GB.com_wrapper.ini
language/en-GB/en-GB.files_joomla.sys.ini
language/en-GB/en-GB.ignore.php
language/en-GB/en-GB.ini
language/en-GB/en-GB.lib_joomla.ini
language/en-GB/en-GB.localise.php
language/en-GB/en-GB.mod_archive.ini
language/en-GB/en-GB.mod_latestnews.ini
language/en-GB/en-GB.mod_mainmenu.ini
language/en-GB/en-GB.mod_mostread.ini
language/en-GB/en-GB.mod_newsflash.ini
language/en-GB/en-GB.mod_online.ini
language/en-GB/en-GB.mod_poll.ini
language/en-GB/en-GB.mod_sections.ini
language/en-GB/en-GB.plg_content_pagebreak.ini
language/en-GB/en-GB.plg_content_vote.ini
language/en-GB/en-GB.plg_search_categories.ini
language/en-GB/en-GB.plg_search_contacts.ini
language/en-GB/en-GB.plg_search_content.ini
language/en-GB/en-GB.plg_search_newsfeeds.ini
language/en-GB/en-GB.plg_search_sections.ini
language/en-GB/en-GB.plg_search_weblinks.ini
language/en-GB/en-GB.plg_system_debug.ini
language/en-GB/en-GB.mod_articles_archive.ini
language/en-GB/en-GB.mod_articles_archive.sys.ini
language/en-GB/en-GB.mod_articles_categories.ini
language/en-GB/en-GB.mod_articles_categories.sys.ini
language/en-GB/en-GB.mod_articles_category.ini
language/en-GB/en-GB.mod_articles_category.sys.ini
language/en-GB/en-GB.mod_articles_latest.ini
language/en-GB/en-GB.mod_articles_latest.sys.ini
language/en-GB/en-GB.mod_articles_news.ini
language/en-GB/en-GB.mod_articles_news.sys.ini
language/en-GB/en-GB.mod_articles_popular.ini
language/en-GB/en-GB.mod_articles_popular.sys.ini
language/en-GB/en-GB.mod_banners.ini
language/en-GB/en-GB.mod_banners.sys.ini
language/en-GB/en-GB.mod_breadcrumbs.ini
language/en-GB/en-GB.mod_breadcrumbs.sys.ini
language/en-GB/en-GB.mod_custom.ini
language/en-GB/en-GB.mod_custom.sys.ini
language/en-GB/en-GB.mod_feed.ini
language/en-GB/en-GB.mod_feed.sys.ini
language/en-GB/en-GB.mod_footer.ini
language/en-GB/en-GB.mod_footer.sys.ini
language/en-GB/en-GB.mod_languages.ini
language/en-GB/en-GB.mod_languages.sys.ini
language/en-GB/en-GB.mod_login.ini
language/en-GB/en-GB.mod_login.sys.ini
language/en-GB/en-GB.mod_menu.ini
language/en-GB/en-GB.mod_menu.sys.ini
language/en-GB/en-GB.mod_random_image.ini
language/en-GB/en-GB.mod_random_image.sys.ini
language/en-GB/en-GB.mod_related_items.ini
language/en-GB/en-GB.mod_related_items.sys.ini
language/en-GB/en-GB.mod_search.ini
language/en-GB/en-GB.mod_search.sys.ini
language/en-GB/en-GB.mod_stats.ini
language/en-GB/en-GB.mod_stats.sys.ini
language/en-GB/en-GB.mod_syndicate.ini
language/en-GB/en-GB.mod_syndicate.sys.ini
language/en-GB/en-GB.mod_users_latest.ini
language/en-GB/en-GB.mod_users_latest.sys.ini
language/en-GB/en-GB.mod_weblinks.ini
language/en-GB/en-GB.mod_weblinks.sys.ini
language/en-GB/en-GB.mod_whosonline.ini
language/en-GB/en-GB.mod_whosonline.sys.ini
language/en-GB/en-GB.mod_wrapper.ini
language/en-GB/en-GB.mod_wrapper.sys.ini
language/en-GB/en-GB.tpl_beez.ini
language/en-GB/en-GB.tpl_ja_purity.ini
language/en-GB/en-GB.tpl_rhuk_milkyway.ini
language/en-GB/en-GB.tpl_atomic.ini
language/en-GB/en-GB.tpl_atomic.sys.ini
language/en-GB/en-GB.tpl_beez_20.ini
language/en-GB/en-GB.tpl_beez_20.sys.ini
language/en-GB/en-GB.tpl_beez5.ini
language/en-GB/en-GB.tpl_beez5.sys.ini
language/en-GB/en-GB.xml
language/en-GB/index.html
language/overrides/*
language/pdf_fonts/*
language/index.html
libraries/joomla/*
libraries/pear/*
libraries/phpgacl/*
libraries/phpinputfilter/*
libraries/tcpdf/*
libraries/phpmailer/*
libraries/phputf8/*
libraries/simplepie/*
libraries/pattemplate/*
libraries/bitfolge/*
libraries/domit/*
libraries/openid/*
libraries/geshi/*
libraries/phpxmlrpc/*
libraries/index.html
libraries/loader.php
logs/*
media/contacts/*
media/editors/*
media/mailto/*
media/media/*
media/mod_languages/*
media/system/*
media/index.html
modules/mod_archive/*
modules/mod_latestnews/*
modules/mod_mainmenu/*
modules/mod_mostread/*
modules/mod_newsflash/*
modules/mod_articles_archive/*
modules/mod_poll/*
modules/mod_sections/*
modules/mod_articles_categories/*
modules/mod_articles_category/*
modules/mod_articles_latest/*
modules/mod_articles_news/*
modules/mod_articles_popular/*
modules/mod_banners/*
modules/mod_breadcrumbs/*
modules/mod_custom/*
modules/mod_feed/*
modules/mod_footer/*
modules/mod_languages/*
modules/mod_login/*
modules/mod_menu/*
modules/mod_random_image/*
modules/mod_related_items/*
modules/mod_search/*
modules/mod_stats/*
modules/mod_syndicate/*
modules/mod_users_latest/*
modules/mod_weblinks/*
modules/mod_whosonline/*
modules/mod_wrapper/*
modules/index.html
multisites/*
plugins/*
plugins/authentication/example/*
plugins/authentication/gmail/*
plugins/authentication/joomla/*
plugins/authentication/ldap/*
plugins/authentication/index.html
plugins/content/emailcloak/*
plugins/content/example/*
plugins/content/geshi/*
plugins/content/joomla/*
plugins/content/loadmodule/*
plugins/content/pagebreak/*
plugins/content/pagenavigation/*
plugins/content/vote/*
plugins/content/index.html
plugins/editors/codemirror/*
plugins/editors/none/*
plugins/editors/tinymce/*
plugins/editors/index.html
plugins/editors-xtd/article/*
plugins/editors-xtd/image/*
plugins/editors-xtd/pagebreak/*
plugins/editors-xtd/readmore/*
plugins/editors-xtd/index.html
plugins/extension/example/*
plugins/extension/joomla/*
plugins/extension/index.html
plugins/search/categories/*
plugins/search/contacts/*
plugins/search/content/*
plugins/search/newsfeeds/*
plugins/search/weblinks/*
plugins/search/index.html
plugins/system/cache/*
plugins/system/debug/*
plugins/system/languagefilter/*
plugins/system/log/*
plugins/system/logout/*
plugins/system/p3p/*
plugins/system/redirect/*
plugins/system/remember/*
plugins/system/sef/*
plugins/system/index.html
plugins/user/contactcreator/*
plugins/user/example/*
plugins/user/joomla/*
plugins/user/profile/*
plugins/user/index.html
plugins/index.html
templates/*
templates/atomic/*
templates/beez_20/*
templates/beez5/*
templates/system/*
templates/index.html
tmp/*
xmlrpc/*
configuration.php
configuration.php-dist
CHANGELOG.php
COPYRIGHT.php
CREDITS.php
INSTALL.php
LICENSE.php
LICENSES.php
index.php
index2.php
joomla.xml
*.txt

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


#################
## Visual Studio
#################

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
**/[Dd]ebug/
**/[Rr]elease/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds
**/*.dotCover

## TODO: If you have NuGet Package Restore enabled, uncomment this
#**/packages/ 

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf

# Visual Studio profiler
*.psess
*.vsp

# ReSharper is a .NET coding add-in
_ReSharper*

# Installshield output folder 
[Ee]xpress

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish

# Others
[Bb]in
[Oo]bj
sql
TestResults
*.Cache
ClientBin
stylecop.*
~$*
*.dbmdl
Generated_Code #added for RIA/Silverlight projects

# Backup & report files from converting an old project file to a newer
# Visual Studio version. Backup files are not needed, because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML



############
## Windows
############

# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini


#############
## Python
#############

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Mac crap
.DS_Store
