.com-cm-container {
	float:left;width:100%;
	}
.com-cm-header {
	border-top:1px solid #DDDDDD;
	}
.com-cm-header,.com-cm-row {
	border-left:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	}
.com-cm-header input,.com-cm-row input {
	margin:0;
	}
.com-cm-header{
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
	float:left;
	font-weight:bold;
	border-radius: 4px 4px 0 0;
	width:100%;
	}
.com-cm-header div {
	text-align:center !important;
	}
.com-cm-row{
	float:left;
	border-top:1px solid #DDDDDD;
	width:100%;
	height:30px;
	}
.com-cm-row div, .com-cm-header div{
	float:left;
	padding: 4px 5px;
	display:table-cell;
	border-left:1px solid #DDDDDD;
	line-height:22px;
	height:22px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
.com-cm-container div.com-cm-row:nth-child(2n+1) {background-color:#F9F9F9;}
.com-cm-container div.com-cm-row:hover{background-color:#F5F5F5;}
.com-cm-container div.com-cm-row div:first-child,.com-cm-container div.com-cm-header div:first-child{border-left:none;}
.com-cm-container div.com-cm-header div:first-child {border-radius: 4px 0 0 0;}
.com-cm-container div.com-cm-header div:last-child {border-radius: 0 4px 0 0;}
.com-cm-container div.com-cm-row:last-child {border-radius: 0 0 4px 4px;border:1px solid #DDDDDD;}
.com-cm-container div.com-cm-row:last-child div:first-child {border-radius: 0 0 0 4px;}
.com-cm-container div.com-cm-row:last-child div:last-child {border-radius: 0 0 4px 0;}

	/* Category Classes */
.com-cm-game {width:11%;}
.com-cm-class {width:6%;}
.com-cm-allegiance {width:12%;}
.com-cm-guild {width:15%;}

	/*  Pagination */
.com-cm-pagination {
	text-align:center !important;
	height: 36px;
	margin: 18px 0;
	}
.com-cm-pagination ul {
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	display:inline-block;
	margin-bottom:0;
	margin-left:0;
	list-style:disc outside none;
	padding: 0;
	}
.com-cm-pagination li {
	display:inline;
	line-height:18px;
	}
.com-cm-pagination a {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 1px 1px 0;
	float: left;
	line-height: 34px;
	padding: 0 14px !important;
	text-decoration: none;
	}
.com-cm-pagination a:hover, .pagination .active a {
    background-color: #F5F5F5;
    text-decoration: none;
}
.com-cm-pagination .active a {
    color: #999999;
    cursor: default;
}
.com-cm-pagination .disabled a, .pagination .disabled a:hover {
    background-color: transparent;
    color: #999999;
    cursor: default;
}
.com-cm-pagination li:first-child a {
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
}
.com-cm-pagination li:last-child a {
    border-radius: 0 3px 3px 0;
}
.com-cm-pagination-centered {
    text-align: center;
}
.com-cm-pagination-right {
    text-align: right;
}
	