/* Category Classes */
/* Note: DIV width are measured inside the border and padding
   SELECTs are measured outside the border and padding
   Therefore, SELECT widths must include the padding and border width
   to match a DIVs width */

/*.com-guilds-game {width:110px;}
.com-guilds-class {width:80px;}
.com-guilds-allegiance {width:115px;}
.com-guilds-guild {width:140px;}*/

.com-guilds-appdate, .com-guilds-checked, .com-guilds-pubdate { width:8.894% !important; }
.com-guilds-class, .com-guilds-allegiance { width:6.38298% !important; }

/* Navbar & Subnav */
.subnav {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    height: 36px;
    width: 100%;
    text-align:center !important;
}
.subnav .nav {
    margin-bottom: 0;
}
.subnav li {
    line-height:30px;
    padding: 4px 5px;
    font-weight:bold;
    margin-left:0;
}
.subnav .nav > li > a {
    border:0 none;
    border-radius:0;
    margin: 0;
    padding:0;
    line-height:30px;
}
.subnav .nav > li > a:hover {
    background-color:transparent;
}
.subnav .dropdown-menu {
    border-radius: 0 0 4px 4px;
}
.subnav-fixed {
    border-color: #D5D5D5;
    border-radius: 0 0 0 0;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    left: 0;
    position: fixed;
    right: 0;
    top: 40px;
    z-index: 1020;
}
.subnav-fixed .nav {
    margin: 0 auto;
    padding: 0 1px;
    width: 938px;
}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
    border-radius: 0 0 0 0;
}

/* Accordion */ 
.accordion-group:hover .accordion-heading, .accordion-group:hover .accordion-footing{
    background-color:#E8E8E8 !important;
}
.accordion-heading, .accordion-footing {
    background-color:#F8F8F8 ;
}
.accordion .accordion-group:nth-child(2n+2) .accordion-heading, .accordion .accordion-group:nth-child(2n+2) .accordion-footing {
    background-color:#F0F0F0;
}
.accordion-heading {
    height:32px;
    border-radius:4px 4px 0 0;
}
.accordion-heading div[class*="span"] {
    float:left;
    font-size: 13px;
    line-height: 22px;
    height:22px;
    padding: 4px 5px;
    float: left !important;
    margin-left:0px !important;
}
.accordion-heading select:hover {
    border:1px solid #CCCCCC;
    background-color:#FFFFFF;
}
.accordion-footing {
    border-radius:0 0 4px 4px;
}

/* Table Styling */
.com-guilds.container-fluid {
    padding:0px;
    border-radius: 4px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: separate;
    border-color: #DDDDDD #DDDDDD #DDDDDD -moz-use-text-color;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
}
.com-guilds div.header {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    font-weight: bold;
    text-align:center;
    border-top:none;
}
.com-guilds .row-fluid {
    border-top:1px solid #DDDDDD;
}
.com-guilds .row-fluid [class*="span"] {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    border-left:1px solid #DDDDDD;
    padding:8px;
    margin-left:0px;
    height:36px;
}
.com-guilds .row-fluid:nth-child(2n+1) {
    background-color:#F9F9F9;
}
.com-guilds .header:hover {
    background-color:none;
}
.com-guilds .row-fluid {
    overflow:hidden;
    text-overflow:ellipsis;
    line-height: 18px;
}
.com-guilds .row-fluid:hover {
    background-color:#F5F5F5;
}
.com-guilds .row-fluid:first-child {
    border-radius: 4px 4px 0 0;
}
.com-guilds .row-fluid:last-child {
    border-radius: 0 0 4px 4px;
}
.com-guilds-container {
    float:left;
    width:100%;
}
.accordion-heading input {
    margin-top:-2px;
}	
#character-form .modal-body {
    /*    height:510px;*/
    max-height: 510px;
}
.com-guilds-ajax {
    height:66px;
    background-image:url("../img/ajax-small.gif");
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
}
.badge {
    margin:3px;
}
.icon-profile {
    background-image:url('../img/contact.png');
    height:22px;
    background-position:0px 4px;
    background-size:15px;
}
.icon-characters {
    background-image:url('../img/contacts.png');
    background-position:0px 4px;
    background-size:15px;
    height:22px;
}

/* Compatibility with Rockettheme templates */
.alert-info {
    background: #D9EDF7 !important;
    border: 1px solid #BCE8F1 !important;
    color: #3A87AD !important;
}
.alert-success {
    background: #DFF0D8 !important;
    border: 1px solid #D6E9C6 !important;
    color: #468847 !important;
}
.alert-danger, .alert-error {
    background: #F2DEDE;
    border: 1px solid #EED3D7;
    color: #B94A48;
}
/* Compatibility with JomSocial template */
.btn .icon-edit, .btn .icon-remove {
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block !important;
}
.btn .icon-remove.icon-white, .btn .icon-remove.icon-white:hover {
    /*not a valid option so declaration is overriden and ignored*/
    background: url("../img/glyphicons-halflings-white.png") no-repeat scroll -312px 0 rgba(0, 0, 0, 0) !important;
}
#editLink {
    width:auto !important;
}
/* Compatibilty with YooTheme template */
ul.nav {
    padding-left:0px !important;
    margin-top:0px !important;
}
/* Modal scroll fix */
.modal {
    position:absolute !important;
}